*{
	margin:0;
	padding:0;
	float:0;
}
body{
	background:100% 100%;
	background-color: #fcff7d;
	position:relative;
}
.logo{
	position:absolute;
	top:30px;
	left:65%;
}
.logo #logo{
	height:150px;
}
.logo #slg{
    position: absolute;
    height: 50px;
    left: 40%;
    top: 50px;
}
}
.logo #title{
	position: absolute;
    left: 40%;
    top: 80px;
	height:30px;
}
#pic_process{
	position: absolute;
	top:100px;
	left:20%;
}
#emoticon{
	position: absolute;
	top:200px;
	left:40%;
}
#puzzle{
	position: absolute;
	top:350px;
	left:60%;
}